#about #header {
    position: static;
}

#about #header ul {
    color: #568ec7;
}

#about #header .logo {
    fill: #568ec7;
}

#about .hero {
    padding: 25px 0 50px;
    height: auto;
    min-height: auto;
}

#about .hero h1 {
    font-size: 60px;
}

.page#about .section.hero .wrapper {
    padding-bottom: 0;
}

#about .me {
    padding-top: 0;
}

#about .me .text,
#about .me .image {
    flex: 1;
}

#about .me .text .inner {
    padding-right: 10%;
}

#about .me .text h2 {
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .15em;
}

#about .me .text .inner p {
    /* font-size: 41px; */
    /* font-size: 26px; */
    /* line-height: 1.4; */
}

#about .me .text .inner p.name {
    font-size: 16px;
    font-family: "HKBold", sans-serif;
}

#about .me .text .inner p.name:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 2px;
    background: #568ec7;
    position: relative;
    top: -4px;
    margin-right: 7px;
}

#about .me .image .inner {
    padding-left: 10%;
}

#about .me .image .image-container {
    position: relative;
    width: 100%;

}

#about .me .image .image-container:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fccbb3;
    z-index: -1;
    left: 35px;
    top: 35px;
}

#about .pricing {
    padding-top: 50px;
}

#about .pricing .shadow:after {
    top: 52%;
    height: 40%;
}

#about .pricing h2 {
    padding-bottom: 50px;
}

#about #menu_toggle span,
#about #menu_toggle span:before,
#about #menu_toggle span:after {
    background: #568ec7;
    /* background: #468ecc; */
    /* Hamburger Color */
}

#about #menu_toggle:hover span,
#about #menu_toggle:hover span:before,
#about #menu_toggle:hover span:after {
    background: #fccbb3;
    /* Hamburger hover color */
}

#about #menu_toggle.open span:before,
#about #menu_toggle.open span:after {
    background: white;
    /* X color */
}

#about #menu_toggle.open:hover span:before,
#about #menu_toggle.open:hover span:after {
    background: #00abed;
    /* X hover color */
}

@media screen and (max-width: 1400px) {

    #about .hero h1 {
        font-size: 5vw;
    }

    #about .me .text .inner p {
        /* font-size: 3vw; */
    }

    #about .pricing h2 {
        font-size: 2.5rem;
    }

    #about .me .wrapper {
        align-items: flex-start;
    }

}

@media screen and (max-width: 860px) {

    #about .hero h1 {
        font-size: 8vw;
    }

    table th {
        font-size: 3.6vw;
    }

    table thead span.price {
        font-size: 2.8vw;
    }

    #about .hero {
        padding: 3% 0 2%;
    }

    #about .me {
        padding-bottom: 0;
        padding-top: 0;
    }

    #about .me .text,
    #about .me .image {
        width: 100%;
        flex-basis: 100%;
    }

    #about .me .text {
        order: 2;
        padding-top: 10%;
    }

    /* #about .me .text .inner p {
        font-size: 5vw;
    } */

    #about .me .image .inner {
        padding: 10%;
    }

    #about .me .text .inner {
        padding: 0;
    }

    #about .me .text .inner p.name:before {
        height: .29vw;
        top: -.5vw;
    }

    #about .pricing {
        padding-top: 10%;
    }

    #about .pricing h2 {
        /* font-size: 7vw; */
        padding-bottom: 0;
    }

    #about table {
        margin: 25px 0;
    }

    #about table:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #about .me .text .inner p {
        font-size: 16px;
    }


    #about .me .text .inner p.name {
        font-size: 14px;
    }

    #about .pricing h2 {
        font-size: 6vw;
    }
}

@media screen and (max-width: 480px) {

    table th {
        font-size: 5vw;
    }

    table thead span.price {
        font-size: 4vw;
        margin-top: 8px;
    }

    table thead th {
        padding: 25px 15px;
    }

    table tbody tr td {
        font-size: 14px;
    }

}