/* Colors
------------------
Blue: #468ecc
Pink: #fcccb3
------------------
*/

/* Fonts
------------------

------------------
*/

@font-face {
  font-family: "HKBold";
  font-weight: normal;
  font-style: normal;
  src: url('/HKGrotesk-Bold.woff2') format('woff2'),
    url('/HKGrotesk-Bold.woff') format('woff');
}

@font-face {
  font-family: "HKMedium";
  font-weight: normal;
  font-style: normal;
  src: url('/HKGrotesk-Medium.woff2') format('woff2'),
    url('/HKGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: "HKSemibold";
  font-weight: normal;
  font-style: normal;
  src: url('/HKGrotesk-Semibold.woff2') format('woff2'),
    url('/HKGrotesk-Semibold.woff') format('woff');
}

body {
  font-family: "HKMedium", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  overflow-x: hidden;
}

h1 {
  font-family: "HKBold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  line-height: 1.35;
  letter-spacing: .01em;
}

h2 {
  font-family: "HKBold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 42px;
  line-height: 1.35;
}

h3 {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 1.35;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .075em;
}

h4 {
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 1.35;
}

h5 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

p {
  font-size: 18px;
}

.page-title {
  font-size: 64px;
}

.headline {
  font-size: 36px;
  line-height: 1.35;
  letter-spacing: .02em;
}

.hk-font {
  font-family: "HKMedium", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.hk-bold-font {
  font-family: "HKBold";
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
}

.black-color {
  color: #212121;
}

.pink-color {
  color: #fcccb3;
}

.blue-color {
  color: #468ecc;
}

.white-color {
  color: #ffffff;
}

.black-bg {
  background-color: #212121;
}

.blue-bg {
  background-color: #468ecc;
}

.pink-bg {
  background-color: #fcccb3;
}

.white-bg {
  background-color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.center-text {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-end {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

.flex.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex .col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex .col.ie {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

.four-fifths {
  width: 80%;
}

.three-fourths {
  width: 75%;
}

.two-thirds {
  width: 66.6666%;
}

.three-fifths {
  width: 60%;
}

.one-half {
  width: 50%;
}

.two-fifths {
  width: 40%;
}

.one-third {
  width: 33.3333%;
}

.one-fourth {
  width: 25%;
}

.one-fifth {
  width: 20%;
}

.container {
  opacity: 0;
  transition: .6s;
}

.container.ready {
  opacity: 1;
}

.page {
  min-height: 100vh;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.wrapper.full {
  max-width: 100%;
  padding: 0;
}

.wrapper.xl {
  max-width: 1440px;
}

.wrapper.lg {
  max-width: 1200px;
}

.wrapper.md {
  max-width: 880px;
}

.wrapper.sm {
  max-width: 720px;
}

.wrapper.xs {
  max-width: 600px;
}

.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(43, 43, 43, 0.36);
}

.shadow {
  position: relative;
  z-index: 1;
  width: auto !important;
  display: inline-block;
}

.shadow:after {
  content: "";
  z-index: -1;
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 42%;
  width: 98%;
  height: 50%;
  background: #fcccb3;
}


/* Newsletter Popup */

.newsletter-popup {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  bottom: 25px;
  left: 0;
  right: 0;
  width: calc(100% - 50px);
  margin: auto;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-transform: translateY(120%);
  -ms-transform: translateY(120%);
  transform: translateY(120%);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  -o-transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  -moz-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  -ms-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  -o-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
}

.newsletter-popup:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: #e5877b;
  opacity: .40;
}

.newsletter-popup.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.newsletter-popup .wrapper {
  padding: 60px;
  z-index: 3;
}

.newsletter-popup .title {
  font-size: 60px;
  line-height: 1;
}

.newsletter-popup .col:nth-child(2) {
  padding: 0 75px;
}

.newsletter-popup form input[type="email"] {
  background: white;
  padding-left: 15px;
  font-size: 21px;
  width: 100%;
  margin-right: -2px;
}

.newsletter-popup form input[type="submit"] {
  font-size: 12px;
  padding: 20px 35px;
}

.newsletter-popup .close {
  width: 15px;
  position: absolute;
  z-index: 99;
  right: 30px;
  top: 30px;
  cursor: pointer;
  display: block;
}

/* Mobile Menu */

html.menu-open body {
  position: relative;
  top: 72.22px;
}

.menu-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  cursor: pointer;
  top: 29%;
  right: 28px;
  margin: auto;
  z-index: 9999;
  overflow: hidden;
  text-align: left;
  text-indent: -9999em;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  display: block;
  content: '';
  width: 28px;
  height: 1px;
  position: absolute;
  left: 0;
  top: -7px;
  background: #e3877d;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.menu-btn span {
  top: 14px;
}

.menu-btn span:after {
  top: 7px;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.menu-btn.open span {
  background-color: transparent !important;
}

.menu-btn.open span:before {
  -webkit-transform: translateY(7px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(7px) translateX(1px) rotate(45deg);
  transform: translateY(7px) translateX(1px) rotate(45deg);
}

.menu-btn.open span:after {
  -webkit-transform: translateY(-7px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-7px) translateX(1px) rotate(-45deg);
  transform: translateY(-7px) translateX(1px) rotate(-45deg);
}

.mobile-menu-container nav {
  width: 100%;
  height: 100%;
  position: fixed;
  /* background-image: url(../img/menu-bg.svg); */
  background-position: 50% 100px !important;
  padding-bottom: 200px;
  z-index: -2;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: .6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  -o-transition: .6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: .6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding: 0;
}

.mobile-menu-container nav ul {
  margin: 0;
  list-style: none;
  width: 100%;
}

.mobile-menu-container nav .wrapper {
  padding: 25px;
  width: 100%;
  height: 100%;
}

.mobile-menu-container nav ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  padding: 10px 0;
}

.menu-open nav {
  opacity: 1;
  z-index: 9999;
}

/* Buttons */

.btn {
  color: #e5877b;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  letter-spacing: .26em;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #e5877b;
  background: transparent;
  padding: 15px 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn.wide {
  padding: 15px 65px;
}

.btn.md {
  padding: 15px 45px;
}

.btn:hover {
  background: #e5877b;
  color: white;
}

.btn.white {
  background: white;
  color: #e5877b;
  border-color: white;
}

.btn.white:hover {
  background: #e5877b;
  color: white;
  border-color: #e5877b;
}

.btn.underline {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #e5877b;
}

.btn.underline:hover {
  background: transparent;
  color: #e5877b;
  opacity: .5;
}

.btn.border {
  border: 1px solid #e5877b;
}

/* Slick stuff */

.slick-slide:focus {
  outline: none;
}

.slick-dots li button:before {
  font-size: 35px;
  background: transparent;
  border: 1px solid #e5877b;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #f2efed;
  opacity: 1;
  content: "";
}

.slick-dots li.slick-active button:before {
  background: #e5877b;
  border-color: #e5877b;
}

/* content margins */

.inner>*,
.inner ul>*,
.wrapper.content>*,
.wrapper.content ul>* {
  margin-bottom: 25px;
}

.inner>*:last-child,
.inner ul>*:last-child,
.wrapper.content>*:last-child,
.wrapper.content ul>*:last-child {
  margin-bottom: 0;
}

/* Select */

select {
  min-width: 100px;
  background: transparent;
  border-bottom: 1px solid rgba(58, 58, 58, 0.5);
  font-family: 'Louize Display Italic' !important;
  font-size: 16px;
  margin-right: 15px;
  /* background: url(../img/dropdown-arrow.svg); */
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
}

/* Forms */

form {
  line-height: 1;
  border-bottom: 1px solid white;
}

form input {
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
  background: transparent;
  font-family: 'Johnston ITC W01 Light';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: .02em;
}

form label {
  position: absolute;
  left: 0;
  z-index: 0;
  font-size: 18px;
  bottom: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

form label.slideUp {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  font-size: 14px;
}

/* Grid layout */

.flex.grid .inner {
  padding: 25px
}

@supports ((display: -ms-grid) or (display: grid)) {
  .flex.grid {
    display: -ms-grid;
    display: grid;
  }

  .flex.grid .inner {
    padding: 0;
  }
}

/* Default Page Content */

.section.title {
  padding-bottom: 0;
}

.section.content .wrapper>* {
  margin-bottom: 25px;
}

.section.content .wrapper>*:last-child {
  margin-bottom: 0;
}

.section.content p {
  line-height: 26px;
}

.section.content a {
  color: #e5877b;
  text-decoration: none;
}

.bg {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.hero h1 {
  position: relative;
  z-index: 9;
  /* font-size: 100px; */
  font-size: 60px;
}

.section.hero {
  height: 100vh;
  min-height: 350px;
  position: relative;
}

.bg-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.video-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
}

.video-container:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-color: rgba(43, 43, 43, 0.09);
}

.background-video {
  /* z-index: -2; */
  position: relative;
  /* left: 50%;
  right: 50%; */
  margin: auto;
  /* transform: translate(-50%); */
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* max-width: 100vw; */
}

#footer .section {
  padding: 25px 0;
}

#footer .copyright {
  font-family: "HKBold", sans-serif;
  font-size: 14px;

}


/* Home */
/* #home #header {
  position: absolute;
} */

#home #header .logo {
  fill: white;
}

#home #header ul {
  color: white;
}

#home .section.hero {
  padding: 0;
}

#home #footer {
  display: none;
}