@media screen and (max-width: 1400px) {

    #header .logo {
        max-width: 12vw;
    }

    .section.hero h2,
    .hero h1 {
        font-size: 7vw;
    }

    #about .hero h1,
    #weddings .hero h1 {
        font-size: 5vw;
    }

    #about .me .text .inner p {
        font-size: 3vw;
    }

}

@media screen and (min-width: 768px) {
    .hide_767 {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .show_767 {
        display: none !important;
    }

    .section {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    table th {
        font-size: 3.6vw;
    }

    table thead span.price {
        font-size: 2.8vw;
    }

    #about .me .text .inner p.name {
        font-size: 2vw;
    }

    #about .me .text .inner p.name:before {
        height: .29vw;
        top: -.5vw;
    }

    #about .pricing h2 {
        font-size: 5vw;
        padding-bottom: 0;
    }

    #about table {
        margin: 25px 0;
    }

    #about table:first-child {
        margin-top: 0;
    }

    #weddings .flex.grid {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (max-width: 480px) {
    table thead th {
        padding: 25px 15px;
    }

    table tbody tr td {
        font-size: 14px;
    }

    #weddings .flex.grid {
        grid-template-columns: 1fr !important;
    }
}