@media screen and (max-width: 1400px) {

    /* #header .logo {
        max-width: 12vw;
    } */

    .section.hero h2,
    .hero h1 {
        font-size: 7vw;
    }

}

@media screen and (min-width: 768px) {
    .hide_767 {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .show_767 {
        display: none !important;
    }

    .wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }

    #header .wrapper {
        padding: 5%;
    }

    .section {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .flex {
        flex-wrap: wrap;
    }

    .section.hero h2 {
        font-size: 8vw;
    }
}

@media screen and (max-width: 480px) {

    .slick-slider {
        overflow: hidden;
    }

}