/* Header + Menu */

body.open {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: .6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
}

#header.sticky {
  position: fixed;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  #header.sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

#header .wrapper {
  padding: 25px 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#header .left,
#header .right {
  flex: 1;
  position: relative;
}


#header ul {
  color: white;
}

#header ul li {
  display: inline-block;
  padding: 5px 25px 5px;
}

#header ul li a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  /* -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; */
}

#header .logo {
  display: inline-block;
  max-width: 135px;
  width: 100%;
  margin: auto;
  margin-left: 0;
  fill: white;
}

#menu_drawer {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 65px;
  overflow-y: auto;
  background: #fccbb3;
  opacity: 0;
  z-index: -99;
  transition: .6s;
}

#menu_drawer.open {
  opacity: 1;
  z-index: 999;
}

#menu_drawer .flex {
  height: 100%;
}

#header #menu_drawer li {
  list-style: none;
  padding-bottom: 15px;
  display: block;
}

#menu_drawer li:last-child {
  padding-bottom: 0;
}

#menu_drawer li a {
  text-decoration: none;
  color: white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#menu_drawer li a:hover,
#menu_drawer li a:focus,
#menu_drawer li a:active {
  color: #468ecc;
}

#menu_toggle {
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 25%;
  right: 5%;
  z-index: 9999;
  overflow: hidden;
  text-align: left;
  text-indent: -9999em;
  transition: color 0.2s ease-in-out;
}

#menu_toggle span,
#menu_toggle span:before,
#menu_toggle span:after {
  display: block;
  content: '';
  width: 28px;
  height: 1px;
  position: absolute;
  left: 0;
  top: -7px;
  background: white;
  /* background: #468ecc; */
  /* Hamburger Color */
  -webkit-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

#menu_toggle span {
  top: 14px;
  left: -7px;
}

#menu_toggle span:before {
  left: 7px;
}

#menu_toggle span:after {
  top: 7px;
  left: -7px;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#menu_toggle:hover span,
#menu_toggle:hover span:before,
#menu_toggle:hover span:after {
  /* background: white; */
  background: #468ecc;
  /* Hamburger hover color */
}

/* #menu_toggle.open {
  position: fixed;
} */

#menu_toggle.open span {
  left: 0;
}

#menu_toggle.open span:before,
#menu_toggle.open span:after {
  background: white;
  left: 0;
  /* X color */
}

#menu_toggle.open:hover span:before,
#menu_toggle.open:hover span:after {
  background: #00abed !important;
  /* X hover color */
}

#menu_toggle.open span {
  background-color: transparent !important;
}

#menu_toggle.open span:before {
  -webkit-transform: translateY(7px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(7px) translateX(1px) rotate(45deg);
  transform: translateY(7px) translateX(1px) rotate(45deg);
}

#menu_toggle.open span:after {
  -webkit-transform: translateY(-7px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-7px) translateX(1px) rotate(-45deg);
  transform: translateY(-7px) translateX(1px) rotate(-45deg);
}